
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 71%;
    margin: 0 auto;
    padding: 16px 0;
}

ul{
    display: flex;
    gap: 32px;
}

ul li{
    list-style: none;
}

.btn{
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: #30B868;
    border-radius: 4px;
    font-size: 16px;
}


