*{
    margin: 0;
}

h2{
    font-size: 48px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 71%;
    margin: 0 auto;
    padding: 16px 0;
}

ul{
    display: flex;
    gap: 32px;
}

ul li{
    list-style: none;
}

.btn{
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: #30B868;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero{
    background-image: url(assets/hero-bg.png);
    justify-content: center;
    padding: 115px 180px 120px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.st-title > img{
    width: 16px;
    height: 16px;
    margin: 0;
}

.st-title{
    display: flex;
    justify-content: center;
    padding: 8px 12px;
    background: #ffffff;
    width: 230px;
    margin: auto;
    border-radius: 100px;
    align-items: center;
    margin-bottom: 16px;
    gap: 10px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}

.title-co{
    color: #30B868;
}

.hd-p{
    text-align: center;
    color: #ffffff ;
    margin-bottom: 32px;
}

.hd-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.sec-btn{
    padding: 12px 16px;
    background-color: #30b86900;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.sec-section{
    background-color: #FBFBFB;
}

.sec-section > div {
    padding: 50px 0;
    width: 1360px;
    margin: auto;
    text-align: center;
}

.sec-section > div > div{
    margin-bottom: 44px;
}

.icon{
    background-color: #F95555;
    padding: 10px;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    align-content: center;
    margin: auto;
}

.card-items{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card{
    border-radius: 8px;
    background-color: #ffffff;
    padding: 24px;
}

.card > h4{
    font-size: 24px;
    margin: 16px 0;
}

.second-brain{
    display: flex;
    justify-content: left;
    width: 1360px;
    margin: auto;
    gap: 60px;
    padding: 120px;
}

.sb-text{
    align-content: center;
}

.sb-text h4{
    color: #30B868;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.sb-text h2, .sb-text> p{
    margin-bottom: 16px;
}

.sb-point div{
    display: flex;
    align-items: center;
    gap: 7px;
}

.sb-point div img{
    width: 16.25px;
    height: 16.25px;
}

.sb-point div p{
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.last{
    padding-bottom: 120px;
}

.last h2{
    margin-bottom: 16px;
}

.last div{
    width: 1360px;
    background-color: #F7F6F2;
    padding: 80px 40px;
    margin: auto;
    border-radius: 12px;
    text-align: center;
}

.last button{
    margin: 24px auto 16px auto;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}





