*{
    margin: 0;
}


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 71%;
    margin: 0 auto;
    padding: 16px 0;
}

ul{
    display: flex;
    gap: 32px;
}

ul li{
    list-style: none;
}

.btn{
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: #30B868;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

main{
    background-image: url(assets/hero-bg.png);
    justify-content: center;
    padding: 115px 180px 120px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.st-title > img{
    width: 16px;
    height: 16px;
    margin: 0;
}

.st-title{
    display: flex;
    justify-content: center;
    padding: 8px 12px;
    background: #ffffff;
    width: 230px;
    margin: auto;
    border-radius: 100px;
    align-items: center;
    margin-bottom: 16px;
    gap: 10px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}

.title-co{
    color: #30B868;
}

.hd-p{
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
}

.hd-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.sec-btn{
    padding: 12px 16px;
    background-color: #30b86900;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}


